/**
 TODO(you): Add CSS for the list that you create yourself!
*/

body{
    font-family: 'Sniglet';
}


nav{
    text-align: center;
    width:100%;
    margin-top: 20px;
    font-size: 30px;
}

 nav a{
    color: black;
    text-decoration:none; 
    margin-left: 20px;
}

nav a:hover{
    color:  #42b4d6;
} 

section#photo {
    height: 600px;
    background-image: url(../images/myImages/overview-bg.svg);
   
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/header.jpg); */
}

.intro{
   height: 400px;
} 




       




