/**
 TODO(you): Add CSS for the list that you create yourself!
*/

.paragraph-break{
    height: 15px;
}

.section-break{
    height: 100px;
}

h1{
    font-family: 'Permanent Marker';
}

a{
    text-decoration: none;
    color: #42b4d6;
}

a:hover{
    font-size: 20px;
    text-decoration: underline;
}

section#photo {
    height: 500px;
    background-image: url(../images/myImages/top-bg.jpg);
    background-size: initial;
    background-position: top;
    background-attachment: fixed;
}

#title {
	position: relative;
	right: 10%;
    float: right;
    width: 550px;
	color: white;
	font-size: 36px;;
	text-align: center;
	font-family: 'Permanent Marker';
	top: 40%;
}

.container {
    height: auto;
    overflow: hidden;
    width: 70%;
    margin: auto;
}
 
 .right {
     float: right;
}
 
 .left {
    float: left;
    width: 55%;
    overflow: hidden;
 }​​

.description{
    margin-bottom: 80px;
}

.text{
    font-family: 'Supermercado One';
    font-size: 18px;
    line-height: 30px;
}

.text-justify{
    text-align: justify;
}



footer{
    height: 1000px;
}

footer#photo {
    bottom: 0;
    height: 500px;
    background-image: url(../images/myImages/overview-bg.svg);
    background-size: cover;
}


       




